@require "../../style/variables"

.Dropdown
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 0 4px;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  user-select: none;
  overflow: auto;

  .Dropdown-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
  }

  &.active {
    background: accent-color;

    .Dropdown-button {
      .Icon {
        fill: #fff;
      }

      &:hover {
        .Icon {
          fill: #323030 !important;
        }
      }
    }
  }

  &.bottom-left, &.bottom-right {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &.active {
      .Dropdown-button .Icon {
        transform: scaleY(-1);
      }
    }
  }

  &.top-right ul {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
  }

  &.bottom-left ul {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;

    &:before {
      content: "";
      width: 22px;
      height: 2px;
      position: absolute;
      bottom: -2px;
      left: 0;
      background: accent-color;
    }
  }

  &.bottom-right ul {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;

    &:before {
      content: "";
      width: 22px;
      height: 2px;
      position: absolute;
      bottom: -2px;
      right: 0;
      background: accent-color;
    }
  }

  ul
    font-size: .9em;
    color: #fff;
    background: accent-color;
    position: fixed;
    z-index: 10;
    padding: 4px;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    list-style: none;
    min-width: 128px;
    box-shadow: 0 2px 0 darken(accent-color, 25%);

    li
      white-space: nowrap;

      &.seperator
        background: rgba(0, 0, 0, 0.1);
        height: 1px;
        margin: 2px 4px;

      a
        transform: translateZ(0);
        display: block;
        padding: 4px 8px;
        text-decoration: none;

        &:hover
          color: #323030;
          border: none;
          outline: none;

          .Icon
            fill: #323030;

        .Icon
          width: 1em;
          height: 1em;
          fill: #fff;
          margin-right: 4px;

.Dropdown-button
  color: inherit;
  width: 1em;
  height: 1em;
  padding: 4px;

  .Icon
    vertical-align: top;