@require "../../style/variables"
@require "../../style/inputs"

.Login
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: login-background-color;

.Login-form
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 16px;
  background: login-form-background-color;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  text-align: center;

  .buttons
    display: flex;
    justify-content: center;

  input
    @extends .input
    margin: 8px;

  button
    @extends .button
    margin: 8px;
    flex: 1;

.Login-form-title
  text-align: center;
  font-size: 2rem;
  padding: 16px;
  text-transform: uppercase;

  em
    color: accent-color;
    font-style: normal;

  sub
    color: #c5c1c0;
    font-size: 1rem;

.Login-form-status
  text-align: center;
  margin: 8px;
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;

  &.error
    border-color: accent-color;
    color: accent-color;

.Login-form-or
  align-items: center;
  display: flex;
  margin: 8px 0;

  &:before, &:after
    display: block;
    content: "";
    background: #e8e4e3
    height: 1px;
    flex: 1;

  &:before
    margin-right: 8px;

  &:after
    margin-left: 8px;