{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "quotes": [2, "double"],
    "consistent-return": 0,
    "no-console": 0,
    "no-unused-vars": [1, { "argsIgnorePattern": "^(reject|resolve|e(v(en)?t)?|props)$" }],
    "react/prop-types": [1],
    "max-len": [1, 120]
  }
}
