{
  "extends": "airbnb",
  "rules": {
    "quotes": [2, "double"],
    "consistent-return": 0,
    "no-console": 0,
    "no-unused-vars": [1, { "argsIgnorePattern": "^(reject|resolve|e(v(en)?t)?)$" }],
    "react/prop-types": [1]
  }
}
