@require "../../style/variables"

thumbnailSize = 192px;
thumbnailSideSize = 48px;

.Track {
  &.ThumbnailSide {
    display: flex;
    align-items: center;
  }

  .ThumbnailSide-image {
    height: thumbnailSideSize;
    background-size: ceil(thumbnailSideSize*(16/9))+1;
    background-position: center, center;
    border-radius: 4px;
    margin-right: .5em;
    flex: 0 0 thumbnailSideSize;
  }

  .ThumbnailSide-info {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .ThumbnailSide-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: .5em .25rem .1rem;
  }

  .ThumbnailSide-artist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: lighten(theme-dark, 25%);
    margin: 0 .25rem;
    font-size: .75rem;
  }

  &.Thumbnail {
    width: thumbnailSize;
    margin: 1rem;

    &.playing {
      .Thumbnail-hover {
        display: flex;
      }
    }
  }

  .Thumbnail-hover {
    justify-content: space-around;
    align-items: center;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .75);
    border-radius: 4px;
  }

  .Thumbnail-button {
    display: block;
    width: 48px;
    height: 48px;
    border: none;
    background: accent-color;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    fill: white;
    outline: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  }

  .Thumbnail-image {
    position: relative;
    width: thumbnailSize;
    height: thumbnailSize;
    background-size: ceil(thumbnailSize*(16/9))+1;
    background-position: center, center;
    border-radius: 4px;

    &:hover {
      .Thumbnail-hover {
        display: flex;
      }
    }
  }

  .Thumbnail-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: .5em .25rem .25rem;
    flex: 1;
  }

  .Thumbnail-artist {
    color: lighten(theme-dark, 25%);
    margin: 0 .25rem;
    font-size: .75rem;
  }

  .Thumbnail-controls {
    display: flex;
    align-items: center;
  }
}
