@require "../../style/variables"

.List
  list-style: none;
  padding: 8px;
  margin: 0;

.ListItem
  border-radius: 4px;
  border-bottom: 1px solid #e8e4e3;

  &:first-child
    border-top: 1px solid #e8e4e3;

  &.active
    background: gray-light-color;

  .loading
    flex: 1;
    background: gray-light-color;
    height: 1rem;

  label
    padding: 8px 4px;
    display: block;
    display: flex;
    align-items: center;

  a
    color: inherit;

.ListItem-checkbox
  margin-right: 8px;

.ListItem-button
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: none;
  background: accent-color;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  fill: white;
  outline: none;

  .Icon
    vertical-align: top;

.ListItem-title
  flex: 1;
  text-decoration: none;

.ListItem-share
  width: 1em;
  height: 1em;
  margin: 0 4px;
  padding: 4px;

  .Icon
    vertical-align: top;