@require "../../style/variables"

.App
  height: 100%;

.App-wrapper
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 56px;
  box-sizing: border-box;

.App-wrapper-content
  flex: 1;
  overflow: auto;