@require "variables"

html, body, #app
  height: 100%;

body
  font: 14px/1.5em sans-serif;
  // background-image: radial-gradient(circle at top center, #e81a7b, accent-color);
  background: gray-lighter-color;
  box-sizing: border-box;
  color: #333;

a
  color: #000;
  text-decoration: underline;
  cursor: pointer;

.none
  display: none;

.hidden
  visibility: hidden;

.header-title
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;

  a
    color: inherit;
    text-decoration: none;

.content
  padding: 8px;

.page, .Sidebar
  padding: 8px;

.Sidebar
  padding-right: 0;

.rc-slider
  position: relative;
  cursor: pointer;
  background: gray-dark-color;
  border-radius: 2px;

  .rc-slider-track
    border-radius: 2px;
    background: accent-color;
    height: 100%;
    width: 100%;

  .rc-slider-handle
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: accent-color;
    border: none;
