@require "variables"

html, body, #app
  height: 100%;

body
  font: 14px/1.5em sans-serif;
  // background-image: radial-gradient(circle at top center, #e81a7b, accent-color);
  background: #000;
  padding: 8px;
  box-sizing: border-box;
  color: white;

a
  text-decoration: underline;
  cursor: pointer;

.none
  display: none;

.hidden
  visibility: hidden;
