accent-color = #EB4858;
gray-lighter-color = #f6f2f2;
gray-light-color = #e8e3e3;
gray-dark-color = #404a54;
black-color = #111111;

theme-dark = #454343;

login-background-color = theme-dark;
login-form-background-color = #fff;

sidebar-background-color = theme-dark;

player-background-color = theme-dark;
player-progress-background-color = #2e2d2d;
