@require "../../style/variables"

.Notifications
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 16px;
  min-width: 256px;
  padding: 16px;
  left: 50%;
  transform: translateX(-50%);
  background: accent-color;
  z-index: 1000;