@require "../../style/variables"

@keyframes appear {
  0%   { transform: translate(-50%, -100%); }
  100% { transform: translateY(-50%, 0); }
}

.Notifications
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 16px;
  min-width: 256px;
  padding: 16px;
  left: 50%;
  transform: translateX(-50%);
  background: accent-color;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  animation: appear 0.5s;