@require "../../style/variables"

.Video
  position: fixed;
  top: 0;
  bottom: 64px;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);

  .Video-content
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    box-shadow: 0 0 16px rgba(0, 0, 0 0.75);

    iframe
      width: 100%;
      height: 100%;