@require "../../style/variables"

.Sidebar
  width: 256px;

  .Sidebar-subtitle
    padding: 8px 8px 4px;
    text-transform: uppercase;
    font-weight: bold;

  ul
    list-style: none;
    padding: 0;
    margin: 0;

    .Sidebar-item
      display: block;
      padding: 4px 16px;
      border-radius: 4px;

      &.active
        background: gray-light-color;
        font-weight: bold;

      a
        color: inherit;
        display: block;
        text-decoration: none;