@require "../../style/variables"

.Sidebar
  padding: 8px;
  width: 256px;
  margin-right: 8px;

  .Sidebar-title
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;

  ul
    list-style: none;
    padding: 0;
    padding: 0;

    .Sidebar-item
      display: block;
      padding: 8px;
      border-left: 4px solid transparent;

      &.active
        border-left-color: accent-color;
        font-weight: bold;

      a
        display: block;
        text-decoration: none;