@require "../../style/variables"

.Sidebar
  padding: 16px;
  width: 256px;
  margin-right: 8px;

  .Sidebar-title
    text-transform: uppercase;
    font-size: 1.25rem;

  ul
    list-style: none;
    padding: 0;
    padding: 0;

    .Sidebar-item
      display: block;
      padding: 8px;
      border-left: 4px solid transparent;

      &.active
        border-left-color: accent-color;

      a
        display: block;
        color: white;
        text-decoration: none;