@require "../../style/variables"
@require "../../style/inputs"

.Sidebar
  width: 224px;
  background: sidebar-background-color;
  color: #c5c1c0;
  border-right: 1px solid lighten(#323030, 25%);
  overflow: auto;
  padding-bottom: 1em;

  .Icon
    fill: #c5c1c0;

  > ul
    list-style: none;
    padding: 0;
    margin: 0;

.Sidebar-subtitle
  padding: 16px 8px 4px;
  text-transform: uppercase;
  color: #8a8887;
  display: flex;
  justify-content: space-between;

.Sidebar-item
  padding: 4px;

  > a
    padding-left: 8px;

  a
    display: block;

    &:hover
      .Icon
        fill: accent-color;

  .Icon
    width: 1em;
    height: 1em;
    margin-right: 8px;
    margin-top: -2px;

  &.active
    background: lighten(#323030, 5%);
    color: #fff;

    .Icon
      fill: #fff;

.Playlists
  > ul
    list-style: none;
    padding: 0;
    margin: 0;

.Playlists-add
  padding: 0 4px;

  .Icon
    width: 1em;
    height: 1em;

  &:hover
    .Icon
      fill: accent-color;

.Playlists-item
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.isOver
    background: accent-color !important;
    cursor: copy;

  .Playlist-item-link
    flex: 1;
    border-right: 1px solid lighten(#323030, 25%);

  .Dropdown
    .Icon
      margin-top: 0;

.Sidebar-item
  form
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 8px;

    .Icon
      width: 1rem;
      height: 1rem;

    input
      @extends .input
      box-sizing: border-box;
      width: 100%;

.Sidebar-profile
  display: flex;
  align-items: center;
  padding: 16px 8px 16px 16px;
  background: darken(sidebar-background-color, 5%);
  border-bottom: 1px solid lighten(#323030, 5%);

.Sidebar-profile-avatar
  width: 40px;
  height: 40px;
  background: url(https://df0179xsabjj8.cloudfront.net/small/216592_OF0nnnFk4FmyxPxQ_737780.jpg);
  background-size: cover;
  border-radius: 50%;
  border: 2px solid lighten(#323030, 5%);

  &.default
    background: #dedede;

.Sidebar-profile-username
  margin-left: 8px;
  flex: 1;
  border-right: 1px solid lighten(#323030, 25%);