@require "../../style/variables"
@require "../../style/inputs"

.Sidebar
  width: 256px;

  a
    color: inherit;
    display: block;
    text-decoration: none;

    &:hover
      color: accent-color;
      fill: accent-color;

  .Sidebar-subtitle
    padding: 8px 8px 4px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;

  ul
    list-style: none;
    padding: 0;
    margin: 0;

    .Sidebar-item
      padding: 4px 12px;
      border-radius: 4px;

      .Icon
        width: 1em;
        height: 1em;
        margin-right: 4px;
        margin-top: -2px;

      &.active
        background: gray-light-color;
        font-weight: bold;

      .loading
        background: gray-light-color;
        height: 1rem;

.Playlists
  .Playlists-item
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Playlist-item-link
      flex: 1;

    .Playlist-item-remove
      display: none;

    &:hover
      .Playlist-item-remove
        display: block;

  .Sidebar-item
    input
      @extends .input
      box-sizing: border-box;
      width: 100%;
      flex: 1;