@require "../../style/variables"
@require "../../style/inputs"

.Login
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: black-color;

  .Login-form
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 16px;
    background: #000;
    border-radius: 4px;

    .Login-form-title
      text-align: center;
      font-size: 2rem;
      padding: 16px;
      text-transform: uppercase;

    .Login-form-status
      text-align: center;
      margin: 8px;
      border: 1px solid #fff;
      padding: 4px;
      border-radius: 4px;

      &.error
        border-color: accent-color;
        color: accent-color;

    .vertical
      display: flex;
      justify-content: center;

    input
      @extends .input
      margin: 8px;

    button
      @extends .button
      margin: 8px;
      flex: 1;
