@require "../../style/variables"

.Player
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background: #000;
  display: flex;
  color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);

.Controls
  display: flex;
  width: 100%;

  .Controls-buttons
    display: flex;
    padding: 8px;
    align-items: center;

    .Controls-buttons-button
      width: 48px;
      height: 48px;
      fill: white;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 8px;
      background: transparent;
      margin: 0 4px;

    .PlayPauseButton
       width: 48px;
       height: 48px;
       fill: white;
       background: accent-color;
       border-radius: 50%;
       padding: 8px;

    .active
      fill: accent-color;

    .Volume

      &:hover
        .Volume-popup
          display: block;

      .Volume-popup
        background: #000;
        padding: 16px 24px;
        position: absolute;
        height: 128px;
        bottom: 56px;
        display: none;

        .Volume-popup-slider
          display: flex;
          align-items: flex-end;
          border-radius: 2px;
          width: 6px;
          height: 100%;
          cursor: pointer;
          background: darken(#556270, 25%);

          &:hover
            .Volume-popup-slider-fill:after
              display: block;

          .Volume-popup-slider-fill
            border-radius: 2px;
            background: accent-color;
            width: 100%;
            position: relative;

            &:after
              content: "";
              display: none;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              position: absolute;
              background: accent-color;
              top: -4px;
              margin-left: -3px;

  .Controls-info
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex: 1;
    justify-content: center;

    .Controls-info-title
      font-size: 1.5rem;

    .Controls-info-progress
      display: flex;
      align-items: center;

      .Controls-info-progress-bar
        border-radius: 2px;
        flex: 1;
        margin: 0 8px;
        background: darken(#556270, 25%);
        height: 6px;
        cursor: pointer;

        &:hover
          .Controls-info-progress-bar-fill:after
            display: block;

        .Controls-info-progress-bar-fill
          background: accent-color;
          height: 100%;
          border-radius: 2px;
          position: relative;

          &:after
            content: "";
            display: none;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            background: accent-color;
            right: -4px;
            margin-top: -3px;