@require "../../style/variables"

.Player
  position: fixed;
  top: 0;
  bottom: 72px;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  .Player-content
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    box-shadow: 0 0 16px rgba(255, 255, 255 0.5);

    iframe
      width: 100%;
      height: 100%;