@require "../../style/variables"

.Player
  position: fixed;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background: #000;
  display: flex;
  color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

.Controls
  display: flex;
  width: 100%;

  .Controls-buttons
    display: flex;
    padding: 8px;
    align-items: center;

    .Controls-buttons-button
      width: 40px;
      height: 40px;
      fill: white;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 8px;
      background: transparent;
      margin: 0 4px;

    .PlayPauseButton
       width: 40px;
       height: 40px;
       fill: white;
       background: accent-color;
       border-radius: 50%;
       padding: 8px;

    .active
      fill: accent-color;

    .Volume
      position: relative;

      &:hover
        .Volume-popup
          display: block;
          transform: scaleY(1);

      .Volume-popup
        background: #000;
        padding: 20px;
        position: absolute;
        height: 128px;
        bottom: 40px;
        left: 0px;
        border-radius: 4px;
        transform-origin: 50% 100%;
        transform: scaleY(0);
        transition: all .1s;

        .Volume-popup-slider
          display: flex;
          align-items: flex-end;
          width: 6px;
          height: 100%;

          .rc-slider-track
            border-radius: 2px;
            background: accent-color;
            width: 100%;

          .rc-slider-handle
            margin-left: -3px;
            margin-bottom: -5px;

  .Controls-info
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex: 1;
    justify-content: center;

    .Controls-info-title
      font-size: 1.5rem;

    .Controls-info-progress
      display: flex;
      align-items: center;

      .Controls-info-progress-time
        width: 2.5em;

        &.left
          text-align: left;

        &.right
          text-align: right;

      .Controls-info-progress-bar
        flex: 1;
        margin: 0 24px;
        height: 6px;

        .rc-slider-handle
          margin-left: -6px;
          margin-top: -3px;
