@require "../../style/variables"

.Player
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: player-background-color;
  display: flex;
  color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-top: 1px solid lighten(#323030, 25%);

.Controls
  display: flex;
  width: 100%;

.Controls-buttons
  display: flex;
  padding: 8px;
  align-items: center;

.Controls-buttons-button
  width: 40px;
  height: 40px;
  fill: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 8px;
  background: transparent;
  margin: 0 4px;

  &.PlayPauseButton
    width: 40px;
    height: 40px;
    fill: white;
    background: accent-color;
    border-radius: 50%;
    padding: 8px;

    &:hover
      fill: #fff;

  &.active
    fill: accent-color;

  &:hover
    fill: accent-color;

.Controls-info
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex: 1;
  justify-content: center;

.Controls-info-title
  font-size: 1.5rem;

.Controls-info-progress
  display: flex;
  align-items: center;

.Controls-info-progress-time
  width: 2.5em;

  &.left
    text-align: left;

  &.right
    text-align: right;

.Controls-info-progress-bar
  flex: 1;
  margin: 0 24px;
  height: 6px;

  .rc-slider-handle
    margin-left: -6px;
    margin-top: -3px;

.Volume
  position: relative;

  &:hover .Volume-popup, .Volume-popup.seeking
    display: block;
    transform: scaleY(1);

.Volume-popup
  background: player-background-color;
  padding: 20px;
  position: absolute;
  height: 128px;
  bottom: 44px;
  left: 0px;
  border-radius: 4px;
  transform-origin: 50% 100%;
  transform: scaleY(0);
  transition: all .1s;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);

  &:after
    content: "";
    position: absolute;
    border: 6px solid player-background-color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    height: 6px;
    width: 6px;
    bottom: -18px;
    margin-left: -6px;

.Volume-popup-slider
  display: flex;
  align-items: flex-end;
  width: 6px;
  height: 100%;

  .rc-slider-track
    border-radius: 2px;
    background: accent-color;
    width: 100%;

  .rc-slider-handle
    margin-left: -3px;
    margin-bottom: -5px;